*{
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
}

html {
    font-family: Poppins, Segeo Ui, sans-serif;
    color: var(--text-primary);
    font-size: 12pt;
    text-align: center;
}

.wrapper {
    box-sizing: border-box;
    background-color: var(--bg-primary);
    height: 100vh;
    width: max(400px, 20%);
    padding: 10px;

    border-radius: 0 2rem 0 0;
    border-right: 2px solid var(--accent-primary);
    filter: drop-shadow(0 0 0.5rem var(--accent-primary));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    position: relative;
    transform: translateY(-29px);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

form {
    transition: 150ms ease;
    width: min(400px, 100%);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 3rem;
    width: 2rem;
    background-color: var(--accent-primary);
    fill: var(--bg-primary);
    color: var(--bg-primary);
    border-radius: 10px 0 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input {
    transition: 150ms ease;

    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 3rem;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: none;
    color: var(--text-primary);
    background-color: var(--accent-bg);

    border: 2px solid var(--accent-bg);
    border-left: 0px;
}

form input:hover {
    border: 2px solid var(--accent-primary);
    border-left: 0px;
}

form input:focus {
    border: 2px solid var(--text-primary);
    border-left: 0px;
}

div:has(input:focus) > label{
    background-color: var(--text-primary);
}

.tag-wrapper{
    background-color: var(--bg-tertiary);
    border-radius: 10px;
    border: 2px dashed var(--text-secondary);
    width: 80%;
    height: 15%;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 0.8rem;
    text-decoration: none;
}

li {
    transition: 150ms;

    background-color: var(--bg-secondary);
    color: var(--text-primary);
    width: 5rem;
    border-radius: 10px;
    border: 1px solid var(--text-primary);
}

li:hover {
    background-color: var(--accent-primary);
    color: var(--text-reverse);
    width: 5rem;
    border-radius: 10px;
    border: 1px solid var(--accent-secondary);
}

li:active {
    background-color: var(--accent-primary);
    color: var(--text-reverse);
    width: 5rem;
    border-radius: 10px;
    transform: scale(0.9);
    border: 0px solid var(--accent-secondary);
}

form button {
    transition: 150ms ease;
    margin-top: 10px;
    border: none;
    border-radius: 100vh;
    padding: 0.85em 4em;
    background-color: var(--accent-primary);
    font: inherit;
    color: var(--text-reverse);

    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

form button:hover{
    background-color: var(--text-primary);
}

form button:focus{
    outline: none;
    background-color: var(--text-primary);
}

form button:active {
    transform: scale();
}

form div.incorrect label {
    background-color: var(--error);
}

form div.incorrect input {
    border-color: var(--error);
}

#error-messages {
    color: var(--error);
}